BODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 13px; BACKGROUND: #E9EAD3; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #333333; LINE-HEIGHT: 1.25em; PADDING-TOP: 5px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none; font-family: Myriad Pro, Arial, Helvetica, Tahoma, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; MARGIN: 5px 0px 5px; COLOR: #800000; font-family: Myriad Pro, Arial, Helvetica, Tahoma, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 5px 0px 5px; COLOR: #800000; font-family: Myriad Pro, Arial, Helvetica, Tahoma, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; MARGIN: 8px 0px 0px; COLOR: #800000; font-family: Myriad Pro, Arial, Helvetica, Tahoma, sans-serif
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 8px 0px 0px; COLOR: #800000; font-family: Myriad Pro, Arial, Helvetica, Tahoma, sans-serif
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; MARGIN: 2px 0px 10px; LINE-HEIGHT: 1.25em; FONT-FAMILY: Arial
}
OL {
	MARGIN: 0px 0px 0px 30px; LINE-HEIGHT: 1.5em
}
UL {
	MARGIN: 0px 0px 0px 30px; LINE-HEIGHT: 1.5em
}
LI {
	MARGIN: 0px; LINE-HEIGHT: 1.5em; TEXT-DECORATION: none
}
A {
	COLOR: #800000; TEXT-DECORATION: none; outline: none
}
A:hover {
	TEXT-DECORATION: underline
}
IMG {
	MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.right {
	FLOAT: right
}
.clear {
	CLEAR: both
}
.left {
	FLOAT: left
}
.center {
	TEXT-ALIGN: center
}
#page {
	MARGIN: 0px auto; WIDTH: 980px; BACKGROUND-COLOR: #ecedf2; TEXT-ALIGN: center
}
#maincontainer {
	BORDER-RIGHT: #444764 1px solid; BORDER-TOP: #444764 1px solid; BACKGROUND: url(../images/bg.jpg); MARGIN: 0px auto; BORDER-LEFT: #444764 1px solid; WIDTH: 830px; BORDER-BOTTOM: #444764 1px solid
}
#header {
	BACKGROUND: url(../images/header.jpg) no-repeat; HEIGHT: 100px
}
#leftcol {
	BORDER-RIGHT: #444764 1px solid; BORDER-TOP: #444764 1px solid; BACKGROUND: #444764; FLOAT: left; MARGIN: 0px 0px 3px; BORDER-LEFT: #444764 1px solid; WIDTH: 132px; BORDER-BOTTOM: #444764 1px solid
}
#content {
	FONT-WEIGHT: bold; BACKGROUND: #ffffff; FLOAT: left; MARGIN: 0px; WIDTH: 690px; TEXT-ALIGN: left
}
.pagetitle {
	CLEAR: both; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: #ecedf2; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 3px; WIDTH: 689px; COLOR: #f0f8ff; PADDING-TOP: 3px; BORDER-top: #444764 1px solid; BORDER-BOTTOM: #444764 1px solid; TEXT-ALIGN: center
}
.grid {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #ffffff; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px 3px 3px; WIDTH: 674px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
.gridcontent{
        BACKGROUND: #ecedf2; FLOAT: left; WIDTH: 656px; MARGIN: 0px 3px 3px 3px; PADDING: 3px 3px 3px 3px; BORDER: #444764 1px solid; TEXT-ALIGN: left
}
.gridcontent img{
        FLOAT: left; MARGIN: 0px 3px 3px 0px; PADDING: 3px 3px 3px 3px
}
.grid2 {
	BORDER-RIGHT: #444764 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #444764 1px solid; PADDING-LEFT: 3px; BACKGROUND: #ecedf2; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px 3px 3px 0px; BORDER-LEFT: #444764 1px solid; WIDTH: 326px; PADDING-TOP: 3px; BORDER-BOTTOM: #444764 1px solid; TEXT-ALIGN: left
}
.grid2 IMG {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px 3px 3px 0px; PADDING-TOP: 3px
}
.grid3 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 1px; WIDTH: 215px; PADDING-TOP: 2px; HEIGHT: 130px; TEXT-ALIGN: center
}
.jane {
	FONT-SIZE: 16px; FONT-FAMILY: Lucida Handwriting; FONT-WEIGHT: normal; COLOR: #800000
}
#footer {
	CLEAR: both; BACKGROUND: url(../images/footer.jpg) no-repeat; BACKGROUND-color: #444764 ;MARGIN: 0px; COLOR: #800000; TEXT-ALIGN: center; padding-bottom: 10px; padding-top: 20px
}
#footer A:link {
	COLOR: #ecedf2; TEXT-DECORATION: none
}
#footer A:visited {
	COLOR: #ecedf2; TEXT-DECORATION: none
}
#footer A:hover {
	TEXT-DECORATION: underline
}