 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; color:#000;
}
BODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 18px; BACKGROUND: #E9EAD3; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #000; LINE-HEIGHT: 1.25em; PADDING-TOP: 5px; FONT-FAMILY: times "Times New Roman", Times, serif; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none;
}
H1 {
	FONT-WEIGHT: bold; MARGIN: 30px 10px 20px 10px; font-size:26.0pt;font-family:Georgia; COLOR: #000;
}
H2 {
	FONT-WEIGHT: bold; MARGIN: 10px 10px 15px 10px; font-size:18.0pt;font-family:Georgia; COLOR: #000;
}
H3 {
	FONT-WEIGHT: bold; MARGIN: 15px 10px 15px 10px; font-size:16.0pt;font-family:Georgia; COLOR: #000;
}
P {
	FONT-WEIGHT: normal;
	FONT-SIZE: 18px;
	MARGIN: 5px 10px 5px 10px;
	LINE-HEIGHT: 1.5em;
	COLOR: #000;
}
OL {
	MARGIN: 0px 0px 0px 25px; LINE-HEIGHT: 1.1em
}
UL {
	MARGIN: 0px 0px 0px 25px; LINE-HEIGHT: 1.1em
}
LI {
	MARGIN: 0px; LINE-HEIGHT: 1.5em; TEXT-DECORATION: none
}
A {
	COLOR: #000; TEXT-DECORATION: none; outline: none
}
A:hover {
	TEXT-DECORATION: underline
}
.email A {
	COLOR: blue; TEXT-DECORATION: none; outline: none
}
.email A:hover {
	TEXT-DECORATION: underline
}
IMG {
	border: #333 solid thin;
}
.right {
	FLOAT: right
}
.clear {
	CLEAR: both
}
.left {
	FLOAT: left
}
.center {
	TEXT-ALIGN: center
}
#globalcontainer {
	MARGIN: 0px auto; WIDTH: 830px; BACKGROUND-COLOR: #E9EAD3; TEXT-ALIGN: center; COLOR: #000;
}
#maincontainer {
	BACKGROUND: #E9EAD3; MARGIN: 0px auto; WIDTH: 830px; COLOR: #000;
}
#content {
	FONT-WEIGHT: bold; BACKGROUND: #ffffff; COLOR: #666;FLOAT: left; WIDTH: 830px; TEXT-ALIGN: left; COLOR: #000;
}
.image {
	BACKGROUND: #ffffff; border:5px; TEXT-ALIGN: center;width:99%; padding-bottom: 15px;
}
.spacer {
	FONT-WEIGHT: normal;
	FONT-SIZE: 10pt;
	MARGIN: 5px 5px 5px 5px;
	LINE-HEIGHT: 1.0em;
}
.text2 {
	BACKGROUND: #ffffff; TEXT-ALIGN: center; float:left; margin-left:5px; width:400px
}
.small {
FONT-WEIGHT: normal; MARGIN: 3px 0px 3px 0px; font-size:9.2pt;font-family:Georgia; COLOR: #000;
}
.small2 {
FONT-WEIGHT: normal; MARGIN: 3px 0px 3px 0px; font-size:8.2pt;font-family:Georgia; COLOR: #000;
}
.list {
TEXT-ALIGN: left; padding-top: 5px;padding-bottom: 10px;
}
.submenu {
TEXT-ALIGN: center; padding-top: 5px;padding-bottom: 10px; margin-right:60px; margin-left:60px;
}
#footer {
	CLEAR: both; BACKGROUND-color: #fff ;MARGIN: 0px; COLOR: #000; TEXT-ALIGN: center; padding-bottom: 10px; padding-top: 20px; font-size:9.2pt;
}