 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 13px; BACKGROUND: #E9EAD3; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #000; LINE-HEIGHT: 1.25em; PADDING-TOP: 5px; FONT-FAMILY: Arial; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none; font-family: Georgia
}
H1 {
	FONT-WEIGHT: bold; MARGIN: 45px 0px 20px 0px; font-size:26.0pt;font-family:Georgia; COLOR: #000;
}
H2 {
	FONT-WEIGHT: bold; MARGIN: 10px 0px 15px 0px; font-size:22.0pt;font-family:Georgia; COLOR: #000;
}
H3 {
	FONT-WEIGHT: bold; MARGIN: 15px 0px 15px 0px; font-size:16.0pt;font-family:Georgia; COLOR: #000;
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 8px 0px 0px; COLOR: #800000; font-family: Georgia
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; MARGIN: 2px 0px 10px; LINE-HEIGHT: 1.25em; FONT-FAMILY: Georgia
}
OL {
	MARGIN: 0px 0px 0px 30px; LINE-HEIGHT: 1.5em
}
UL {
	MARGIN: 0px 0px 0px 30px; LINE-HEIGHT: 1.5em
}
LI {
	MARGIN: 0px; LINE-HEIGHT: 1.5em; TEXT-DECORATION: none
}
A {
	COLOR: #666; TEXT-DECORATION: none; outline: none
}
A:hover {
	TEXT-DECORATION: underline
}
IMG {
	MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.right {
	FLOAT: right
}
.clear {
	CLEAR: both
}
.left {
	FLOAT: left
}
.center {
	TEXT-ALIGN: center
}
#globalcontainer {
	MARGIN: 0px auto; WIDTH: 830px; BACKGROUND-COLOR: #E9EAD3; TEXT-ALIGN: center
}
#maincontainer {
	BACKGROUND: #E9EAD3; MARGIN: 0px auto; WIDTH: 830px
}
#header {
	HEIGHT: 25px
}
#content {
	FONT-WEIGHT: bold; BACKGROUND: #ffffff; COLOR: #666;FLOAT: left; MARGIN: 0px; WIDTH: 830px; TEXT-ALIGN: center
}
.image {
	BACKGROUND: #ffffff; TEXT-ALIGN: center;
}
.image2 {
	BACKGROUND: #ffffff; TEXT-ALIGN: center; float:left; margin-left:5px; width:400px
}
.image3 {
	BACKGROUND: #ffffff; TEXT-ALIGN: center; float:left; margin-left:5px; width:175px
}
.text2 {
	BACKGROUND: #ffffff; TEXT-ALIGN: center; float:left; margin-left:5px; width:400px
}
.small {
FONT-WEIGHT: normal; MARGIN: 3px 0px 3px 0px; font-size:9.2pt;font-family:Georgia; COLOR: #000;
}
.small2 {
FONT-WEIGHT: normal; MARGIN: 3px 0px 3px 0px; font-size:8.2pt;font-family:Georgia; COLOR: #000;
}
.list {
TEXT-ALIGN: left; padding-top: 5px;padding-bottom: 10px;
}
.section {
TEXT-ALIGN: left; padding-top: 5px;padding-bottom: 10px; margin-right:60px; margin-left:60px;
}
.table {
TEXT-ALIGN: center; padding-top: 2px;padding-bottom: 2px;
}
#footer {
	CLEAR: both; BACKGROUND-color: #fff ;MARGIN: 0px; COLOR: #000; TEXT-ALIGN: center; padding-bottom: 10px; padding-top: 20px; font-size:9.2pt;font-family:Georgia;
}
#footer A:link {
	COLOR: #ecedf2; TEXT-DECORATION: none
}
#footer A:visited {
	COLOR: #ecedf2; TEXT-DECORATION: none
}
#footer A:hover {
	TEXT-DECORATION: underline
}