<div id="ft">
	<div id="fWrapper">
		<div id="fContent">
			<div id="footerContent" class="editorWrap">
			<p> <a href="/index.html">Home</a> &nbsp; | &nbsp; <a href="/help.html">Help</a> &nbsp; | &nbsp; <a href="/useful-links.html">Links</a> &nbsp; | &nbsp; <a href="/site-map.html">Site Map</a> &nbsp; | &nbsp; <a href="http://smallbusiness.yahoo.com/webhosting/" target="_top">Site Admin</a></p>
				<p>2011 - 2015 &copy; A.J.Kissel. All rights reserved.</p>
				<p><a href="mailto:info@EmmaFordyceMacRae.com">Email : info@EmmaFordyceMacRae.com</a></p>
			</div>
		</div>
	</div>
</div>