#pageName h2{
			margin:0px; padding:0px; text-align:left
		}	
#pageName p {
			margin:0px; padding:0px; text-align:left; 
		}		



#map{width: 669px; height: 600px; border:3px solid #5391AA}
#mapbar{position: absolute; top: 155px; left: 515px; width: 175px; height: 370px; text-align:center; padding-top:5px}
#mapbar a {
	outline: none; TEXT-DECORATION: none
}
#mapbar a:hover {
	TEXT-DECORATION: underline
}
#mapbar a:focus {
	TEXT-DECORATION: none
}
#mapbutton  {width: 160px; height: 20px; background:#FFEE79; margin-bottom:5px; padding-top:5px; border:#37608F 1px solid}
		#body a:link,
		#body a:visited {
			color: #37608F; TEXT-DECORATION: none
		}

		#body a:hover,
		#body a:focus,
		#body a:active {
			color: #37608F; TEXT-DECORATION: underline
		}	
#zA{font-size:14px;padding:10px 0;_width:100%;}
#zB{float:left;width:480px}
#zC{float:right;width:160px}
#body #zA h3{font-size:21px}
#body #zA h4{font-size:16px}
#zA{background:url(http://emmafordycemacrae.com/images/za_1.2.gif) 50% 100% no-repeat}
#pageName{display:block;text-align:left}		
#pageName h3 {
			font-size: 12px;
			font-weight: bold; color:#37608f;
		}