<div id="ft">
	<div id="fWrapper">
		<div id="fContent">
			<div id="footerContent" class="editorWrap">
			<p> 
                <a href="index.php">Home</a> &nbsp; 
                | &nbsp; <a href="help.php">Help</a> &nbsp; 
                | &nbsp; <a href="useful-links.php">Links</a> &nbsp; 
                | &nbsp; <a href="site-map.php">Site Map</a>
            </p>
				<p>2011 - 2016 &copy; A.J. Kissel. All rights reserved.</p>
				<p><a href="mailto:info@emmafordycemacrae.com">Email : info@emmafordycemacrae.com</a></p>
			</div>
		</div>
	</div>
</div>