body {
   background: white;
   font-size: 15pt;
   FONT-FAMILY: times "Times New Roman", Times, serif; color:#000;
   }
H1 {
	FONT-WEIGHT: bold; margin-top: 5px; margin-bottom: 5px; font-size:26.0pt;font-family:Georgia;
}
H2 {
	FONT-WEIGHT: bold; MARGIN: 10px 10px 15px 10px; font-size:18.0pt;font-family:Georgia;
}
P {
	FONT-WEIGHT: normal;
	FONT-SIZE: 15pt;
	MARGIN: 5px 5px 5px 5px;
	LINE-HEIGHT: 1.1em;
}
OL {
	MARGIN: 0px 0px 0px 10px; LINE-HEIGHT: 1.1em
}
UL {
	MARGIN: 0px 0px 0px 10px; LINE-HEIGHT: 1.1em
}
LI {
	MARGIN: 0px; LINE-HEIGHT: 1.1em; TEXT-DECORATION: none
}
A {
	TEXT-DECORATION: underline; outline: none
}
.email A {
	color:#000; TEXT-DECORATION: none; outline: none
}
IMG {
	border: #333 solid thin;
}
.right {
	FLOAT: right
}
.clear {
	CLEAR: both
}
.left {
	FLOAT: left
}
.center {
	TEXT-ALIGN: center
}
#globalcontainer {
	MARGIN: 0px auto; WIDTH: 830px; BACKGROUND-COLOR: #E9EAD3; TEXT-ALIGN: center; color:#000;
}
#maincontainer {
	BACKGROUND: #E9EAD3; MARGIN: 0px auto; WIDTH: 830px; color:#000;
}
#content {
	FONT-WEIGHT: bold; BACKGROUND: #fff; ;FLOAT: left; WIDTH: 830px; TEXT-ALIGN: left; color:#000;
}
.image {
	BACKGROUND: #ffffff; border:5px; TEXT-ALIGN: center;width:99%; padding-bottom: 1px;
}
.text2 {
	BACKGROUND: #ffffff; TEXT-ALIGN: center; float:left; margin-left:5px; width:400px
}
.small {
FONT-WEIGHT: normal; MARGIN: 3px 0px 3px 0px; font-size:9.2pt;font-family:Georgia; COLOR: #000;
}
.small2 {
FONT-WEIGHT: normal; MARGIN: 3px 0px 3px 0px; font-size:8.2pt;font-family:Georgia; COLOR: #000;
}
.list {
TEXT-ALIGN: left; padding-top: 5px;padding-bottom: 10px;
}
.spacer {
	FONT-WEIGHT: normal;
	FONT-SIZE: 6pt;
	MARGIN: 2px 2px 2px 2px;
	LINE-HEIGHT: 1.0em;
}


/*Remove Element*/
.submenu  {
	display:none;
	}
.submenu2  {
	display:none;
	}	
#footer {
	CLEAR: both; BACKGROUND-color: #fff ;MARGIN: 0px; COLOR: #000; TEXT-ALIGN: center; padding-bottom: 0px; padding-top: 3px; font-size:8.0pt;
}